             <h2>Template Driven Forms</h2>
             <hr/>  
             <app-template-driven01></app-template-driven01>  
             <hr/>
            <app-template-driven02></app-template-driven02>
             <hr/>
             <app-template-driven03></app-template-driven03>
             <br/> <br/> <br/> <br/>
             <hr/>
             <br/>
             <h2>Reactive Forms/Modal Driven Forms [FormGroup,FormControl..]</h2>
             <app-reactive-form></app-reactive-form>
             <hr/>
             <br/>
             <h2>Reactive Forms/Modal Driven Forms [ FormArray,FormBuilder..]</h2>
             <app-reactive-form02></app-reactive-form02>
